<clr-datagrid
  [(clrDgSelected)]="selected"
  (clrDgSelectedChange)="selectionChanged($event)"
>
  <clr-dg-column>API Name</clr-dg-column>
  <clr-dg-column
    *ngFor="let buildNumber of this.uniqueBuildNumbers"
    [clrDgField]="'this.data[apiName][buildNumber].avg'"
    [clrDgColType]="'number'"
  >
    {{ buildNumber }}
  </clr-dg-column>

  <clr-dg-row
    *clrDgItems="let apiName of this.uniqueApis"
    [clrDgItem]="{ data: this.data[apiName], label: apiName }"
    [(clrDgSelected)]="{ data: this.data[apiName], label: apiName }.selected"
  >
    <clr-dg-cell>{{ apiName }}</clr-dg-cell>
    <clr-dg-cell
      *ngFor="let buildNumber of this.uniqueBuildNumbers; index as i"
    >
      <div
        *ngIf="this.data[apiName][buildNumber]"
        [ngClass]="{
          warning:
            this.data[apiName][uniqueBuildNumbers[i - 1]] &&
            this.data[apiName][uniqueBuildNumbers[i - 1]].avg <
              this.data[apiName][uniqueBuildNumbers[i]].avg
        }"
      >
        {{ this.data[apiName][buildNumber].avg }}
      </div>
      <div *ngIf="!this.data[apiName][buildNumber]">N/A</div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-detail *clrIfDetail="let detail">
    <clr-dg-detail-header>API: <b>{{ detail.label }}</b></clr-dg-detail-header>
    <clr-dg-detail-body>
      <div class="flex-row flex-just-sb" style="width: 95%;">
        <app-single-api-chart
          style="flex: 3;"
          [buildData]="detail.data"
          [apiName]="detail.label"
        ></app-single-api-chart>
        <app-error-chart
          style="flex: 2; height: 100%;"
          [height]="400"
          [buildData]="detail.data"
          [apiName]="detail.label"
        ></app-error-chart>
      </div>
    </clr-dg-detail-body>
  </clr-dg-detail>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
        >APIs per page</clr-dg-page-size
      >
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
      {{ pagination.totalItems }} APIs
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
