<header class="header header-1">
  <div class="branding">
    <a href="..." class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">Project Clarity</span>
    </a>
  </div>
  <div class="header-nav">
    <div
      class="nav-link"
      [routerLink]="['']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="nav-text">Dashboard</span>
    </div>

    <div
      class="nav-link"
      [routerLink]="['compare']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="nav-text">Compare Builds</span>
    </div>
    <div clrForm class="nav-link clear-margin">
      <clr-datalist-container class="clear-margin job-selector">
        <label class="job-selector">Search for a Job: </label>
        <input
          class="job-selector"
          minlength="4"
          name="Option"
          required
          clrDatalistInput
          [disabled]="disabled"
        />
        <datalist class="">
          <option *ngFor="let item of items" [value]="item"></option>
        </datalist>
        <clr-control-error>There was an error</clr-control-error>
      </clr-datalist-container>
    </div>
  </div>
  <div class="header-actions">
    <div class="nav-link nav-icon" aria-label="settings">
      <clr-icon
        shape="sun"
        [ngClass]="{ 'is-solid': darkThemeIsActive }"
        (click)="toggleDarkTheme()"
      ></clr-icon>
    </div>
    <div class="nav-link nav-icon" aria-label="settings">
      <clr-icon shape="cog"></clr-icon>
    </div>
  </div>
</header>
<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cloud</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tenants</a>
    </li>
  </ul>
</nav>
